.tab-menu .header{
  width: 500px;
  background-color: gray;
  color: white;
  border: 1px solid black;
}

.tab-menu .header .item{
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

.tab-menu .content{
  width: 500px;
  background-color: gray;
  padding: 15px;
  color: white;
  border: 1px solid black;
}

.items{
  display: none;
}

.actives{
  display: block;
}
